In [3]:
pip install git+https://github.com/boilingdata/py-boilingdata@v0.2.8 pandas numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting git+https://github.com/boilingdata/py-boilingdata@v0.2.8
  Cloning https://github.com/boilingdata/py-boilingdata (to revision v0.2.8) to /private/var/folders/vy/p7dz__m15lb1pbm6xk1b9gxw0000gn/T/pip-req-build-0vj36aff
  Running command git clone --filter=blob:none --quiet https://github.com/boilingdata/py-boilingdata /private/var/folders/vy/p7dz__m15lb1pbm6xk1b9gxw0000gn/T/pip-req-build-0vj36aff
  Running command git checkout -q 441de5147572b5cd5374b02f78066f922d0d91d7
  Resolved https://github.com/boilingdata/py-boilingdata to commit 441de5147572b5cd5374b02f78066f922d0d91d7
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: pandas in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (2.1.3)
Requirement already satisfied: numpy in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (1.26.2)
Requirement already satisfied: asyncio<4.0.0,>=3.4.3 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from py-boilingdata==0.2.8) (3.4.3)
Requirement already satisfied: boto3<2.0.0,>=1.29.1 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from py-boilingdata==0.2.8) (1.29.1)
Requirement already satisfied: botocore<2.0.0,>=1.32.1 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from py-boilingdata==0.2.8) (1.32.1)
Requirement already satisfied: duckdb<0.10.0,>=0.9.2 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from py-boilingdata==0.2.8) (0.9.2)
Requirement already satisfied: pytest-snapshot<0.10.0,>=0.9.0 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from py-boilingdata==0.2.8) (0.9.0)
Requirement already satisfied: python-dotenv<2.0.0,>=1.0.0 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from py-boilingdata==0.2.8) (1.0.0)
Requirement already satisfied: rel<0.5.0,>=0.4.9 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from py-boilingdata==0.2.8) (0.4.9)
Requirement already satisfied: uuid<2.0,>=1.30 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from py-boilingdata==0.2.8) (1.30)
Requirement already satisfied: websocket-client<2.0.0,>=1.6.4 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from py-boilingdata==0.2.8) (1.6.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/local/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from boto3<2.0.0,>=1.29.1->py-boilingdata==0.2.8) (1.0.1)
Requirement already satisfied: s3transfer<0.8.0,>=0.7.0 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from boto3<2.0.0,>=1.29.1->py-boilingdata==0.2.8) (0.7.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/local/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from botocore<2.0.0,>=1.32.1->py-boilingdata==0.2.8) (1.26.18)
Requirement already satisfied: pytest>=3.0.0 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from pytest-snapshot<0.10.0,>=0.9.0->py-boilingdata==0.2.8) (7.4.3)
Requirement already satisfied: six>=1.5 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: iniconfig in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from pytest>=3.0.0->pytest-snapshot<0.10.0,>=0.9.0->py-boilingdata==0.2.8) (2.0.0)
Requirement already satisfied: packaging in /opt/local/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pytest>=3.0.0->pytest-snapshot<0.10.0,>=0.9.0->py-boilingdata==0.2.8) (23.2)
Requirement already satisfied: pluggy<2.0,>=0.12 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from pytest>=3.0.0->pytest-snapshot<0.10.0,>=0.9.0->py-boilingdata==0.2.8) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /Users/dforsber/Library/Python/3.9/lib/python/site-packages (from pytest>=3.0.0->pytest-snapshot<0.10.0,>=0.9.0->py-boilingdata==0.2.8) (1.1.3)
Requirement already satisfied: tomli>=1.0.0 in /opt/local/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pytest>=3.0.0->pytest-snapshot<0.10.0,>=0.9.0->py-boilingdata==0.2.8) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from dotenv import load_dotenv
from py_boilingdata import BoilingData

load_dotenv()  # take environment variables from .env

boiling = BoilingData()
await boiling.connect()

async def bd(sql):
    resp = await boiling.execute(sql)
    try:
        return pd.DataFrame(resp)
    except:
        return resp

INFO:BoilingDataConnection:Connecting
INFO:BoilingDataConnection:WS OPEN

In [5]:
await bd('SHOW TABLES')

                        0
0               demo_full
1          taxi_locations
2  taxi_locations_limited

In [6]:
await bd("SELECT first_name, email FROM parquet_scan('s3://boilingdata-demo/test.parquet') LIMIT 10")

  first_name                     email
0     Amanda          ajordan0@com.com
1     Albert           afreeman1@is.gd
2     Evelyn   emorgan2@altervista.org
3     Denise          driley3@gmpg.org
4     Carlos  cburns4@miitbeian.gov.cn
5    Kathryn        kwhite5@google.com
6     Samuel      sholmes6@foxnews.com
7      Harry       hhowell7@eepurl.com
8       Jose         jfoster8@yelp.com
9      Emily  estewart9@opensource.org

In [7]:
await bd("SELECT * FROM parquet_scan('s3://boilingdata-demo/test.parquet') LIMIT 12")

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29+00,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03+00,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31+00,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21+00,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,
4,2016-02-03 05:05:31+00,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,NaN,,
5,2016-02-03 07:22:34+00,6,Kathryn,White,kwhite5@google.com,Female,195.131.81.179,3583136326049310,Indonesia,2/25/1983,69227.11,Account Executive,
6,2016-02-03 08:33:08+00,7,Samuel,Holmes,sholmes6@foxnews.com,Male,232.234.81.197,3582641366974690,Portugal,12/18/1987,14247.62,Senior Financial Analyst,
7,2016-02-03 06:47:06+00,8,Harry,Howell,hhowell7@eepurl.com,Male,91.235.51.73,,Bosnia and Herzegovina,3/1/1962,186469.43,Web Developer IV,
8,2016-02-03 03:52:53+00,9,Jose,Foster,jfoster8@yelp.com,Male,132.31.53.61,,South Korea,3/27/1992,231067.84,Software Test Engineer I,1E+02
9,2016-02-03 18:29:47+00,10,Emily,Stewart,estewart9@opensource.org,Female,143.28.251.245,3574254110301671,Nigeria,1/28/1997,27234.28,Health Coach IV,

In [ ]:
await boiling.close()